faiss-cpu
sentence-transformers
google-generativeai
fastapi
uvicorn
pydantic
bcrypt==4.0.1
cryptography
python-jose
python-multipart
SQLAlchemy
passlib
python-dotenv

# Use CPU-only PyTorch
--extra-index-url https://download.pytorch.org/whl/cpu
torch
openai